.card-grid {
    margin: 30px auto;
    width: 100%;
    height: 650px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

.card-grid.level--6,
.card-grid.level--8,
.card-grid.level--10,
.card-grid.level--12 {
    width: 100%;
    max-width: 310px;
}

.card-grid.level--6 {
    height: 400px;
}

.card-grid.level--8 {
    height: 300px;
}

.card-grid.level--10 {
    height: 380px;
}

.card-grid.level--12 {
    height: 460px;
}

@media (min-width:600px) {

    .card-grid.level--6 {
        width: 100%;
        max-width: 310px;
        height: 220px;
    }
    
    .card-grid.level--8,
    .card-grid.level--10,
    .card-grid.level--12 {
        width: 100%;
        height: 260px;
    }

    .card-grid.level--8 {
        max-width: 270px;
    }

    .card-grid.level--10 {
        max-width: 340px;
    }

    .card-grid.level--12 {
        max-width: 410px;
    }
}

@media (min-width:800px) {

    .card-grid.level--6 {
        width: 100%;
        max-width: 400px;
        height: 290px;
    }
    
    .card-grid.level--8,
    .card-grid.level--10,
    .card-grid.level--12 {
        width: 100%;
        height: 280px;
    }

    .card-grid.level--8 {
        max-width: 290px;
    }

    .card-grid.level--10 {
        max-width: 370px;
    }

    .card-grid.level--12 {
        max-width: 440px;
    }
}

@media (min-width:1000px) {

    .card-grid.level--6 {
        width: 100%;
        max-width: 520px;
        height: 380px;
    }
    
    .card-grid.level--8,
    .card-grid.level--10,
    .card-grid.level--12 {
        width: 100%;
        height: 390px;
    }

    .card-grid.level--8 {
        max-width: 400px;
    }

    .card-grid.level--10 {
        max-width: 510px;
    }

    .card-grid.level--12 {
        max-width: 610px;
    }
}

@media (min-width:1200px) {

    .card-grid.level--6 {
        width: 100%;
        max-width: 800px;
        height: 580px;
    }
    
    .card-grid.level--8,
    .card-grid.level--10,
    .card-grid.level--12 {
        width: 100%;
        height: 720px;
    }

    .card-grid.level--8 {
        max-width: 730px;
    }

    .card-grid.level--10 {
        max-width: 920px;
    }

    .card-grid.level--12 {
        max-width: 1100px;
    }
}