.start-game-button {
    margin: 0 auto;
    width: 200px;
    display: block;
    padding: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 3px 7px 2px rgba(50, 50, 50, 0.65);
    background-color: rgb(105, 165, 145);
    color: white;
    font-size: 22px;
}

.start-game-button:hover {
    cursor: pointer;
    box-shadow: 4px 4px 10px 3px rgba(50, 50, 50, 0.65);
}
