.themes {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    width: 100%;
    margin: 60px auto;
}

.card-theme {
    width: 22%;
    box-shadow: 3px 3px 13px 1px rgba(50, 50, 50, 0.65);
    border-radius: 5px;
}

.card-theme img {
    width: 100%;
    height: 100%;
}

.card-theme:hover,
.card-theme.current-theme {
    cursor: pointer;
    box-shadow: 4px 4px 13px 3px rgba(50, 50, 50, 0.65);
}

.card-theme.current-theme {
    transform: scale(1.1);
}

@media (min-width:600px) {

    .themes {
        margin: 100px auto;
    }
}
